.navbar-brand {
  font-size: 30px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 40px;
}


li.item {
  list-style-type: none;
  border-style: solid;
  border-color: #120F0F;
  border-radius: 10px;
}

li.item h1.pokeName {
  text-transform: capitalize;
  text-align: center;
}

li.item p.info {
  padding-left: 10px;
} 

li.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  margin-top: 10px;
}

.pagination li {
  padding: 5px;
}